.comparisonWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.comparisonCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5rem;
  background-color: white;
}

.image {
  width: 150px;
  height: auto;
  display: block;
  margin: 10px 0;
}

.itemList {
  margin-bottom: 30px;
}

.itemBox {
  margin-bottom: 10px;
}
