.searchResultsPage
{
    margin-top: 200px;
    font-family: "Inter", sans-serif;
}

.searchHeader
{
    padding: 15px;
    font-size: 15px;
}

.category
{
    color: rgb(74, 84, 211);
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.searchResultsMain
{
    background-color: rgb(237, 237, 237);
    height: 75vh;
    width: 100%;
}

.filters
{
   display: flex;
   flex-direction: row;
   gap: 2.5vw;
   margin-bottom: 5vh;
}

.labels
{
    padding: 10px 25px 10px 25px;
    background-color: rgb(253, 254, 255);
    border: 1px solid rgb(0, 122, 205);
    border-radius: 25px;
    font-weight: bold;
    color: rgb(0, 122, 205);
}