.searchResultsPage
{
    margin-top: 200px;
    font-family: "Inter", sans-serif;
}

.searchHeader
{
    padding: 15px;
    font-size: 15px;
}

.paths
{
    padding: 20px 20px 10px 5px;
}

.category
{
    color: rgb(74, 84, 211);
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
}

.filters
{
   display: flex;
   flex-direction: row;
   gap: 2.5vw;
   margin-bottom: 2.5vh;
   padding: 15px;
}

.labels
{
    padding: 10px 25px 10px 25px;
    background-color: rgb(253, 254, 255);
    border: 1px solid rgb(0, 122, 205);
    border-radius: 25px;
    font-weight: bold;
    color: rgb(0, 122, 205);
}

.searchResultsMain
{
    background-color: rgb(237, 237, 237);
    min-height: 75vh;
    width: 100%;
    padding-bottom: 20vh;
}

.searchResultsHeader
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.resultsShown
{
    font-weight: bold;
    font-size: 20px;
    color: rgb(68, 65, 61)
}

.resultsGrid
{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.listingCard
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.imageArea
{
    position: relative;
    display: inline-block;
}

.leftIcon
{
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    background: none;
    cursor: default;
    padding: 0;
    top: 0;
    left: 0;
    border-top: 100px solid rgb(249, 175, 44);
    border-right: 100px solid transparent;
    border-top-left-radius: 17.5px;
}

.leftIcon img
{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -80px;
    left: 15px;
}

.rightIcon
{
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    background: none;
    cursor: default;
    padding: 0;
    top: 0;
    right: 0;
    border-top: 100px solid rgb(249, 175, 44);
    border-left: 100px solid transparent;
    border-top-right-radius: 17.5px;
}

.rightIcon img
{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -80px;
    right: 15px;
}

.leftIcon img, .rightIcon img
{
    filter: brightness(0) saturate(100%)
}

.leftIcon:hover, .rightIcon:hover
{
    border-top-color: rgb(255, 202, 78);
}

.leftIcon:active, .rightIcon:active
{
    border-top-color: rgb(235, 174, 31)
}

.listingImage
{
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background-color: lightskyblue;
}

.listingInfo
{
    padding: 10px;
    background-color: white;
    height: 25vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.listingTitle
{
    justify-content: flex-start;
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0px 0px 5px;
}

.listingDescription
{
    padding: 0px 10px 0px 10px;
    margin-bottom: 2vh;
}

.listingPrice
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    padding: 0px 10px 10px 0px;
    text-align: right;
    font-weight: bold;
    color: rgb(68, 65,61)
}

.buyNow
{
    font-size: 16px;
}

.price
{
    font-size: 32px;
}